.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.App > div{
  margin: 20vh 5vh 20vh 5vh;
  max-width: 900px;
}

body{
  height: 100%;
  margin: 0px;
  padding: 0px;
}

a:hover {
  transition: all 200ms 0s;
  opacity: 0.7;
}

a {
  transition: all 200ms 0s;
  color: black; 
  text-decoration: none;
  font-weight: 600;
}

h1 {
  font-family: "Open Sans";
  font-weight: 300;
}